/* --------------------------------------------------------------------------------------
+
+ VARIABLES
+
-------------------------------------------------------------------------------------- */

//GLOBAL VARIABLES

$experimental-support-for-svg:          true;

//Basic colors
$base-clr:                            	#fff;
$header-bgr:                            #fff;
$footer-bgr:							#fff;
$base-font:                             Arial, Helvetica, sans-serif;
$title-font:                            Arial, Helvetica, sans-serif;

$base-font-size:                        12px;
$base-line-height:                      1.5;

$text-clr: 								#fff;
$second-clr:							#fff;
$title-clr:								#fff;
$link-clr:								#fff;
$link-hover:							#fff;

$border:								#fff;

$footer-clr:							#fff;

$input-clr:								#fff;
$input-bgr:								#fff;

$btn-clr:								#fff;
$btn-bgr:								#fff;
$btn-hover:								#fff;


//LAYOUT
$space:                          		20px;
$page-width:                            950px;
$radius:								3px;


//SELECT TEXT
$selected-text-bgr:						#000;
$selected-text-clr:						#fff;

