/* --------------------------------------------------------------------------------------
+
+ LAYOUT
+
-------------------------------------------------------------------------------------- */

@import "compass/layout.scss";

@include sticky-footer(310px, ".layout", ".layout_footer", "footer");


.container {
    margin: 0 auto;
    width: $page-width;
    min-width: $page-width;
}

.left {
	float: left;
	
}

.right {
	float: right;
	
}